@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: var(--primary-font);
  color: var(--title-text-color);
  counter-reset: section;
}

h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    max-width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-font: "Montserrat;", sans-serif;
  --title-text-color: #111518;
  --secondary-text-color: #B9B9B9;
  --accent-color: #FF6B09;
  --white-text-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-container {
    position: relative;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu-open {
    background: rgba(17, 21, 24, 0.9);
    position: fixed;
    width: 100%;
    height: 800px;
    z-index: 10;
    top: 0;
  }
  .menu-open .menu-logo {
    display: none;
  }
  .menu-open .mobile_logo {
    margin-top: 30px;
    width: 80px;
    height: 28px;
  }
  .menu-open .menu-close-btn {
    position: absolute;
    top: 37px;
    right: 19.5px;
    width: 14.5px;
    height: 14.5px;
  }
  .menu-open .menu-nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .menu-open .menu-nav .nav-list-item {
    margin-top: 8px;
  }
  .menu-open .menu-nav .nav-list-item .nav-link {
    color: var(--white-text-color);
  }
  .menu-open .menu-nav .nav-list-item .nav-link:hover, .menu-open .menu-nav .nav-list-item .nav-link:focus {
    color: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-open .menu-header-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 260px;
    background-color: transparent;
    color: var(--accent-color);
    border: 2px var(--accent-color) solid;
    padding: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .menu-close .nav {
    display: none;
  }
  .menu-close .header-button {
    display: none;
  }

  .menu-close {
    display: flex;
    justify-content: space-between;
  }
  .menu-close .logo-link {
    display: none;
  }
  .menu-close .nav-menu-btn {
    margin-top: 38px;
    width: 20px;
    height: 12px;
  }
  .menu-close .mobile_logo {
    margin-top: 30px;
    width: 80px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu-container {
    min-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .menu-open {
    background: rgba(17, 21, 24, 0.9);
    position: fixed;
    width: 100%;
    height: 1024px;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .menu-open .menu-logo {
    display: none;
  }
  .menu-open .mobile_logo {
    margin-top: 41px;
    margin-right: 239px;
    width: 128px;
    height: 45px;
  }
  .menu-open .menu-close-btn {
    position: absolute;
    top: 58px;
    right: 43px;
    width: 14.5px;
    height: 14.5px;
  }
  .menu-open .menu-nav {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .menu-open .menu-nav .nav-list-item {
    margin-top: 15px;
  }
  .menu-open .menu-nav .nav-list-item .nav-link {
    margin-left: auto;
    margin-right: auto;
    color: var(--white-text-color);
  }
  .menu-open .menu-nav .nav-list-item .nav-link:hover, .menu-open .menu-nav .nav-list-item .nav-link:focus {
    color: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-open .menu-header-button {
    display: none;
  }

  .menu-close {
    display: flex;
  }
  .menu-close .logo-link {
    display: none;
  }
  .menu-close .nav {
    display: none;
  }
  .menu-close .mobile_logo {
    margin-top: 41px;
    margin-right: 239px;
    width: 128px;
    height: 45px;
  }
  .menu-close .nav-menu-btn {
    margin-top: 59px;
    width: 20px;
    height: 12px;
  }
  .menu-close .header-button {
    display: flex;
    justify-content: center;
    min-width: 260px;
    margin-top: 41px;
    margin-right: 41px;
    background-color: transparent;
    color: var(--accent-color);
    border: 2px var(--accent-color) solid;
    padding: 12.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1344px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-open {
    display: none;
  }

  .nav-menu-btn {
    display: none;
  }

  .logo-link {
    display: none;
  }

  .menu-close {
    display: flex;
  }
  .menu-close .mobile_logo {
    margin-top: 45px;
    margin-right: 144px;
    width: 128px;
    height: 45px;
  }
  .menu-close .nav {
    margin-top: 60px;
    margin-right: 60px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .menu-close .nav .nav-list {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .menu-close .nav .nav-list .nav-list-item + .nav-list-item {
    margin-left: 40px;
  }
  .menu-close .nav .nav-list .nav-link {
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
  .menu-close .nav .nav-list .nav-link:hover, .menu-close .nav .nav-list .nav-link:focus {
    color: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    width: 336px;
    background-color: transparent;
    border: 2px var(--accent-color) solid;
    padding: 23px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-container {
    background-image: url("/bgline-mobile.44d15ac6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 90%;
  }

  .hero {
    margin-top: 50px;
    padding-bottom: 75px;
  }
  .hero .hero-title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
  }
  .hero .hero-text {
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
  }
  .hero .hero-text .secondary-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: var(--secondary-text-color);
  }
  .hero .hero-text .accent {
    color: var(--accent-color);
  }
  .hero .hero-button {
    display: block;
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 14px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: var(--accent-color);
  }
  .hero .hero-images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1344px) {
  .hero-container {
    background-image: url("/bgline-tablet.51960a1b.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 90%;
  }

  .hero {
    display: flex;
    margin-top: 70px;
    padding-bottom: 114px;
    background-image: url("/bgline-tablet.51960a1b.png");
    background-repeat: no-repeat;
    background-position: -100% 92%;
  }
  .hero .hero-text-box {
    max-width: 290px;
  }
  .hero .hero-text-box .hero-title {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
  .hero .hero-text-box .hero-text {
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.56;
    letter-spacing: 0.1em;
  }
  .hero .hero-text-box .hero-text .secondary-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.56;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color);
  }
  .hero .hero-text-box .hero-text .accent {
    color: var(--accent-color);
  }
  .hero .hero-text-box .hero-button {
    display: block;
    margin-top: 30px;
    outline: none;
    min-width: 260px;
    padding: 14px 0;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: var(--accent-color);
  }
  .hero .hero-images {
    margin-left: 50px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-width: 767px) and (max-width: 1344px) and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-width: 767px) and (max-width: 1344px) and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: url("/bgline-tablet@2x.f8edb5ab.png");
  }
}
@media screen and (min-width: 1344px) {
  .hero-container {
    padding-bottom: 106px;
    background-image: url("/bgline-tablet.51960a1b.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 90%;
  }

  .hero {
    display: flex;
    padding-top: 70px;
    background-image: url("/bgline-tablet.51960a1b.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 320% 100%;
  }
  .hero .hero-text-box .hero-title {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.29;
    letter-spacing: 0.03em;
  }
  .hero .hero-text-box .hero-text {
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
  .hero .hero-text-box .hero-text .secondary-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color);
  }
  .hero .hero-text-box .hero-text .accent {
    color: var(--accent-color);
  }
  .hero .hero-text-box .hero-button {
    display: block;
    margin-top: 30px;
    outline: none;
    min-width: 354px;
    padding: 26px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ffffff;
    color: var(--white-text-color);
    background-color: var(--accent-color);
  }
  .hero .hero-images {
    width: 841px;
    height: 718px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .description {
    background: #ffffff;
  }

  .description-list {
    display: block;
  }
  .description-list .item {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .description-list .item .description-text {
    max-width: 146px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
  }

  .description-svg {
    width: 58px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .description {
    padding-bottom: 50px;
  }

  .description-list {
    display: flex;
  }
  .description-list .item {
    display: flex;
    justify-content: center;
    margin-right: 21px;
  }
  .description-list .item .description-text {
    max-width: 146px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
  }

  .description-svg {
    width: 58px;
    height: 60px;
  }
}
@media screen and (min-width: 1344px) {
  .description-list {
    position: relative;
    display: flex;
    padding-bottom: 130px;
  }
  .description-list .item {
    position: relative;
    margin-right: 348px;
    display: flex;
  }
  .description-list .item .description-text {
    position: absolute;
    top: 20px;
    left: 90px;
    min-width: 350px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.08em;
  }

  .description-svg {
    width: 100px;
    height: 102px;
  }
}
.problems-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.problems {
  height: 545px;
  position: relative;
  padding-top: 50px;
  background-color: black;
}

.problem-text-exception {
  color: #FF6B09;
}

.section-problems {
  width: 280px;
  bottom: -170px;
  padding-left: 30px;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.08em;
  color: #111518;
  position: relative;
}

.problem-list-item .accent-line::before {
  content: "";
  display: block;
  background-color: #FF6B09;
  width: 20px;
  height: 2px;
  color: #FF6B09;
  margin-bottom: 20px;
}

.problem-list-item .accent-line::after {
  content: counter(section, decimal-leading-zero);
  counter-increment: section;
  position: absolute;
  display: block;
  top: -11px;
  color: #ff6b09;
  width: 20px;
  -webkit-transform: translateX(130%);
  transform: translateX(130%);
}

@media screen and (max-width: 767px) {
  .problem-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .problems {
    height: 340px;
    padding-top: 60px;
  }

  .section-problems {
    padding-left: 96px;
    width: 688px;
    bottom: -145px;
  }

  .problems-text {
    width: 558px;
    font-size: 26px;
    line-height: 1.307;
  }

  .problem-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .problem-list-item {
    flex-basis: calc(100%/2 - 22px);
  }

  .problem-list-item:nth-child(-n+3) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .problems {
    height: 560px;
    padding-top: 100px;
    background-image: url(/fire.38c28539.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 455px 472px;
  }

  .section-problems {
    width: 1314px;
    bottom: -25%;
    padding-left: 112px;
    padding-right: 112px;
  }

  .problems-text {
    font-size: 46px;
    line-height: 130%;
  }

  .problem-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .problem-list-item {
    flex-basis: calc(100%/3 - 40px);
  }

  .problems-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .section-problems {
    padding-top: 70px;
    padding-bottom: 62px;
  }

  .problem-list-item:nth-child(-n+3) {
    margin-bottom: 40px;
  }

  .problem-list-item .accent-line::before {
    margin-bottom: 20px;
  }
}
.choose {
  width: 100%;
  position: absolute;
  bottom: -11%;
}

.choose-title {
  padding-right: 100px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.choose-conteiner {
  counter-reset: section;
  width: 280px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 14px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.choose-item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  color: #111518;
  position: relative;
}

.choose-list-item .accent-line-choose::before {
  content: "";
  display: block;
  background-color: #ff6b09;
  width: 20px;
  height: 2px;
  color: #ff6b09;
  margin-bottom: 20px;
}

.choose-list-item .accent-line-choose::after {
  content: counter(section, decimal-leading-zero);
  counter-increment: section;
  position: absolute;
  display: block;
  top: -9px;
  color: #ff6b09;
  width: 20px;
  -webkit-transform: translateX(130%);
  transform: translateX(130%);
}

@media screen and (max-width: 767px) {
  .choose-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .choose {
    bottom: -20%;
    width: 100%;
  }

  .choose-title {
    text-align: center;
    font-size: 26px;
    line-height: 130%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .choose-conteiner {
    width: 688px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 98px;
    padding-right: 118px;
  }

  .choose-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .choose-list-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }

  .choose-list-item {
    flex-basis: calc(100% / 2 - 20px);
  }
}
@media screen and (min-width: 1344px) {
  .choose {
    bottom: -14%;
    width: 100%;
  }

  .choose-title {
    display: none;
  }

  .choose-item-title {
    font-size: 20px;
    line-height: 1.4;
  }

  .choose-conteiner {
    padding: 70px 84px;
    width: 1314px;
  }

  .choose-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .choose-list-item {
    flex-basis: calc(100% / 3 - 20px);
  }

  .choose-list-item:nth-child(-n+3) {
    margin-bottom: 40px;
  }
}
.programs {
  position: relative;
  padding-bottom: 537px;
  background-color: var(--title-text-color);
  background-image: url(/lesson-mobile.a11dfdf4.png);
  background-repeat: no-repeat;
  background-size: 120px 137px;
  background-position: 100% 77%;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .programs {
    background-image: url(/lesson-mobile@2x.224b5920.png);
  }
}
.programs-title {
  padding-top: 50px;
  padding-bottom: 43px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.programs-list-wrapper {
  margin: 0 auto;
  padding-left: 80px;
}

.programs-list {
  position: relative;
  padding-left: 20px;
}
.programs-list::before {
  content: " ";
  display: block;
  position: absolute;
  height: 1292px;
  left: 0;
  top: 1%;
  border-left: 1px solid var(--white-text-color);
}

.programs-list-item {
  position: relative;
}

.programs-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.programs-list-subtitle {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.programs-list-subtitle::before {
  content: " ";
  display: block;
  margin-left: -25px;
  margin-bottom: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .term-list-item:not(:last-child) {
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 1343px) {
  .programs-title {
    max-width: 768px;
    margin: 0 auto;
  }
}
.term-list-text {
  position: relative;
  padding-left: 17px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
.term-list-text::before {
  content: " ";
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  width: 12px;
  height: 1px;
  background-color: var(--accent-color);
}

.term-desc-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .programs {
    padding-bottom: 385px;
  }

  .programs-title {
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 52px;
    font-size: 26px;
    line-height: 1.3;
    text-align: left;
  }

  .programs-list-wrapper {
    padding-left: 69px;
  }

  .programs-list {
    padding-left: 50px;
  }
  .programs-list::before {
    height: 700px;
    top: 1%;
  }

  .programs-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programs-list-subtitle {
    padding-bottom: 15px;
  }
  .programs-list-subtitle::before {
    margin-left: -55px;
  }

  .term-list {
    display: flex;
  }

  .term-list-item {
    min-width: 176px;
  }
  .term-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .term-list-text::before {
    top: 25%;
  }

  .programs {
    background-image: url(/lesson-tablet.37bc5b31.png);
    background-position: 100% 80%;
    background-size: 384px 280px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .programs {
    background-image: url(/lesson-tablet@2x.e900d2ec.png);
  }
}
@media screen and (min-width: 1344px) {
  .programs-title {
    max-width: 1344px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 80px;
    font-size: 46px;
  }

  .programs-title-wrapper {
    border-bottom: 2px solid var(--white-text-color);
  }

  .programs-list-wrapper {
    padding-left: 20px;
  }

  .programs-list {
    padding-top: 60px;
    display: flex;
  }
  .programs-list::before {
    display: none;
  }

  .programs-list-item {
    min-width: 240px;
  }

  .programs-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .programs-list-subtitle {
    position: relative;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 1.4;
  }
  .programs-list-subtitle::before {
    margin-left: 0;
    margin-bottom: 0;
    position: absolute;
    top: -130%;
    width: 17px;
    height: 16px;
  }

  .term-list {
    flex-direction: column;
  }

  .term-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .term-list-text {
    padding-left: 27px;
    font-size: 20px;
    line-height: 1.65;
  }
  .term-list-text::before {
    top: 30%;
    width: 20px;
    height: 2px;
  }

  .term-desc-item {
    max-width: 230px;
    font-size: 18px;
    line-height: 1.556;
  }

  .programs {
    background-image: url(/lesson.0b1246a9.png);
    background-position: 0% 87%;
    background-size: 672px 502px;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .programs {
    background-image: url(/lesson@2x.f6018290.png);
  }
}
.methods {
  padding-top: 198px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .methods {
    padding-top: 202px;
  }
}
@media screen and (min-width: 1344px) {
  .methods {
    padding-top: 280px;
    padding-bottom: 130px;
  }
}

.methods-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .methods-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .methods-title {
    font-size: 46px;
    margin-bottom: 50px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .methods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -27px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1344px) {
  .methods-list {
    margin-top: -20px;
    margin-left: -20px;
  }
}

.methods-list-item {
  width: 280px;
  height: 280px;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding-top: 30px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .methods-list-item {
    height: 334px;
  }
}
@media screen and (min-width: 1344px) {
  .methods-list-item {
    width: calc((100% - 3 * 20px) / 3);
    height: 396px;
    padding: 40px 25px 25px 28px;
  }
}
.methods-list-item:hover {
  background-color: var(--accent-color);
}
.methods-list-item:hover .methods-list-item-title {
  color: var(--white-text-color);
}
.methods-list-item:hover .methods-list-item-text {
  color: var(--white-text-color);
}
.methods-list-item:hover .methods-list-item-line {
  color: var(--white-text-color);
}
.methods-list-item:hover .methods-icon {
  fill: var(--white-text-color);
}
.methods-list-item .methods-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .methods-list-item {
    margin-top: 27px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1344px) {
  .methods-list-item {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.methods-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--title-text-color);
  margin-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .methods-list-item-title {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .methods-list-item-title {
    font-size: 20px;
    line-height: 1.4;
  }
}

.methods-list-item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1344px) {
  .methods-list-item-text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.icon-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .icon-wrap {
    margin-bottom: 30px;
  }
}

.methods-list-item-line {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .methods-list-item-line {
    margin-bottom: 10px;
  }
}

.feedback {
  padding-bottom: 50px;
}

.feedback-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .feedback-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .feedback-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}

.name-person {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .name-person {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}
@media screen and (min-width: 1344px) {
  .name-person {
    font-size: 30px;
    line-height: 1.23;
  }
}

.about-person {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about-person {
    text-align: left;
  }
}
@media screen and (min-width: 1344px) {
  .about-person {
    font-size: 14px;
    line-height: 1.21;
    width: 438px;
  }
}

.person-feedback {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .person-feedback {
    text-align: left;
  }
}
@media screen and (min-width: 1344px) {
  .person-feedback {
    font-size: 18px;
    line-height: 1.56;
    width: 706px;
  }
}

.read-more {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .read-more {
    display: inline;
  }
}
@media screen and (min-width: 1344px) {
  .read-more {
    font-size: 18px;
    line-height: 1.56;
  }
}

.feedback-for {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  width: 280px;
  height: 564px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .feedback-for {
    width: 688px;
    height: 313px;
    padding: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .feedback-for {
    width: 1090px;
    height: 370px;
    padding-top: 50px;
    padding-left: 82px;
    padding-right: 112px;
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
}

.feedback-nav {
  width: 180px;
  margin: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .feedback-nav {
    width: 558px;
    height: 54px;
  }
}
@media screen and (min-width: 1344px) {
  .feedback-nav {
    width: 558px;
    height: 54px;
  }
}

@media screen and (min-width: 768px) {
  .feedback-list-item {
    display: flex !important;
  }
}

.feedback-nav-item {
  width: 54px;
  height: 54px;
}

.icon-vk {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icon-person {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .icon-person {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .wrap-for-pic {
    margin-right: 46px;
  }
}
@media screen and (min-width: 1344px) {
  .wrap-for-pic {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .wrap-for-info {
    width: 412px;
  }
}
@media screen and (min-width: 1344px) {
  .wrap-for-info {
    width: 706px;
  }
}

.slick-slide {
  width: 54px;
}

.slick-arrow {
  margin-top: -12px;
}
@media screen and (min-width: 768px) {
  .slick-arrow {
    margin-top: -205px;
  }
}
@media screen and (min-width: 1344px) {
  .slick-arrow {
    margin-top: -260px;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: "Montserrat";
  font-size: 35px;
  line-height: 1;
  opacity: 1;
  color: var(--accent-color);
}

.slick-prev {
  left: -50px;
}
@media screen and (min-width: 768px) {
  .slick-prev {
    left: -100px;
  }
}
@media screen and (min-width: 1344px) {
  .slick-prev {
    left: -350px;
  }
}

.slick-next {
  right: -38px;
}
@media screen and (min-width: 768px) {
  .slick-next {
    right: -87px;
  }
}
@media screen and (min-width: 1344px) {
  .slick-next {
    right: -335px;
  }
}

.teacher {
  padding-top: 270px;
  padding-bottom: 50px;
}

.teacher-title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .teacher-img {
    margin-bottom: 20px;
  }
}
.teacher-subtitle {
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.teacher-list {
  position: relative;
  padding-bottom: 43px;
  padding-left: 27px;
}

.teacher-list::after {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: var(--accent-color);
}

.teacher-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.teacher-list-icon {
  position: absolute;
  width: 17px;
  height: 14px;
  left: 0;
  fill: var(--accent-color);
}

.teacher-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
}

.teacher-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: var(--secondary-text-color);
}

.teacher-desc:not(:last-of-type) {
  margin-bottom: 24px;
}

.teacher-link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.teacher-link:hover, .teacher-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .teacher {
    padding-top: 300px;
  }

  .teacher-title {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .teacher-wrapper {
    display: flex;
  }

  .teacher-list {
    padding-bottom: 38px;
  }

  .teacher-right-side {
    width: 402px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher {
    padding-top: 320px;
    padding-bottom: 130px;
  }

  .teacher-title {
    margin-bottom: 50px;
    font-size: 46px;
  }

  .teacher-wrapper {
    align-items: flex-end;
  }

  .teacher-right-side {
    width: 642px;
    padding-left: 30px;
  }

  .teacher-subtitle {
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 30px;
  }

  .teacher-list {
    padding-bottom: 70px;
    padding-left: 59px;
  }

  .teacher-list::after {
    bottom: 15%;
  }

  .teacher-list-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .teacher-list-icon {
    width: 24px;
    height: 20px;
  }

  .teacher-list-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .teacher-desc {
    font-size: 18px;
    line-height: 1.556;
  }

  .teacher-desc:not(:last-of-type) {
    margin-bottom: 28px;
  }

  .teacher-link {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.556;
  }
}
.guarantee {
  padding-bottom: 50px;
}

.guarantee-title {
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .guarantee-container {
    padding-left: 0;
    padding-right: 0;
  }

  .guarantee-list {
    padding: 30px 20px;
  }
}
.guarantee-list {
  background: #f1f1f1;
}

.guarantee-list-item {
  position: relative;
  padding-left: 25px;
}

.guarantee-list-item:not(:last-child) {
  margin-bottom: 18px;
}
.guarantee-list-item:not(:last-child)::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0.2%;
  top: 40%;
  height: 50px;
  border-left: 1px dashed var(--secondary-text-color);
}

.guarantee-list-icon {
  position: absolute;
  left: -2%;
  width: 15px;
  height: 20px;
  fill: var(--accent-color);
}

.guarantee-list-text,
.guarantee-text-accent {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #3d3d3d;
}

.guarantee-text-accent,
.guarantee-span-accent {
  color: var(--accent-color);
}

.guarantee-span-accent {
  margin-left: -5px;
}

@media screen and (min-width: 768px) {
  .guarantee-list {
    padding-left: 79px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .guarantee-list-item:not(:last-child)::before {
    top: 60%;
    height: 30px;
  }

  .guarantee-list-icon {
    left: -1%;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee {
    padding-bottom: 130px;
  }

  .guarantee-title {
    padding-bottom: 50px;
    font-size: 46px;
  }

  .guarantee-list {
    padding-left: 112px;
    padding-right: 112px;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .guarantee-list-item {
    width: 1000px;
    padding-left: 30px;
  }

  .guarantee-list-text,
.guarantee-text-accent {
    font-size: 20px;
    line-height: 1.4;
  }

  .guarantee-span-accent {
    margin-left: -7px;
  }

  .guarantee-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .guarantee-list-item:not(:last-child)::before {
    left: -1%;
    height: 40px;
  }

  .guarantee-list-icon {
    left: -2%;
    width: 22px;
    height: 30px;
  }
}
.footer {
  margin: 0 auto;
  text-align: center;
  background-color: var(--white-text-color);
}

.footer-wrapper {
  margin: 0 auto;
  background-color: var(--title-text-color);
}

.footer-wrapper .container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 320px;
  background-color: var(--title-text-color);
  background-image: url("/bg-mobile.1382921e.png");
  background-position: center;
  background-size: 320px auto;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .footer-wrapper .container {
    background-image: url("/bg-mobile@2x.3d955332.png");
  }
}
@media screen and (min-width: 768px) {
  .footer-wrapper .container {
    padding-bottom: 71px;
    width: 768px;
    background-image: url("/bg-tablet.95af56c9.png");
    background-size: 768px 520px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer-wrapper .container {
    background-image: url("/bg-tablet@2x.79ba2090.png");
  }
}
@media screen and (min-width: 1344px) {
  .footer-wrapper .container {
    padding-top: 100px;
    padding-bottom: 62px;
    max-width: 1680px;
    width: auto;
    background-image: url("/bg-desktop.9c0b7039.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .footer-wrapper .container {
    background-image: url("/bg-desktop@2x.af11aaec.png");
  }
}

.footer-text-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer-text-wrapper {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-text-wrapper {
    margin-bottom: 56px;
  }
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 660px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.308;
  }
}
@media screen and (min-width: 1344px) {
  .footer-title {
    max-width: 1000px;
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.304;
  }
}

.footer-accent {
  color: var(--accent-color);
}

.footer-text {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 14px;
    line-height: 1.214;
  }
}
@media screen and (min-width: 1344px) {
  .footer-text {
    font-size: 30px;
    line-height: 1.233;
  }
}

.footer-form {
  width: 280px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-form {
    width: 390px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-form {
    width: 478px;
  }
}

.form-field {
  position: relative;
}
.form-field:first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 1344px) {
  .form-field:first-child {
    margin-bottom: 30px;
  }
}
.form-field:nth-child(2) {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .form-field:nth-child(2) {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1344px) {
  .form-field:nth-child(2) {
    margin-bottom: 80px;
  }
}

.footer-label {
  position: absolute;
  top: 0;
  left: 28px;
  transform: translateY(100%);
  margin: 0;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--white-text-color);
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1344px) {
  .footer-label {
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer-input {
  margin: 0;
  width: 280px;
  height: 48px;
  padding-top: 15px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--white-text-color);
  border: 1px solid var(--white-text-color);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 390px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-input {
    width: 478px;
    height: 70px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer-input:focus + .footer-label,
.footer-input:not(:placeholder-shown) + .footer-label {
  transform: translateY(-50%);
  background-color: #585858;
}

.footer-button {
  display: block;
  margin: 0 auto;
  min-width: 260px;
  padding-top: 14px;
  padding-right: 9px;
  padding-bottom: 14px;
  padding-left: 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1344px) {
  .footer-button {
    min-width: 354px;
    padding-top: 27px;
    padding-right: 25px;
    padding-bottom: 26px;
    padding-left: 26px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
}
.footer-button:hover, .footer-button:focus {
  color: var(--accent-color);
  background-color: var(--white-text-color);
}

.footer-contacts {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

.footer-svg-logo {
  width: 84px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .footer-svg-logo {
    width: 128px;
    height: 45px;
  }
}

.footer-tel-img {
  display: inline-block;
  margin: 0 auto;
  width: 199px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .footer-tel-img {
    width: 270px;
    height: 24px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-tel-img {
    width: 407px;
    height: 40px;
  }
}

.footer-tel,
.footer-insta {
  display: block;
  margin: 0 auto;
}

.footer-tel {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer-tel {
    margin-bottom: 0;
  }
}

.footer-tel-link {
  display: block;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer-tel-link {
    margin-bottom: 0;
    margin-left: auto;
    padding-right: 24px;
    border-right: 1px solid #b9b9b9;
  }
}
@media screen and (min-width: 768px) {
  .footer-tel-link {
    padding-right: 16px;
  }
}

.footer-insta-link {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .footer-insta-link {
    padding-left: 24px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-insta-link {
    margin-right: 424px;
  }
}

.footer-accent-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-accent-logo {
    display: block;
  }
}

.footer-dark-logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-dark-logo {
    display: none;
  }
}

.copyright {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .copyright {
    width: 768px;
    text-align: left;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .copyright {
    width: auto;
    padding-left: 15px;
  }
}

.copyright-wrapper {
  background-color: var(--title-text-color);
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */